{% extends 'base.html' %}
{% load humanize %}

{% block content %}

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    </nav>

    <main role="main" class="container">
           <div class="container-fluid h-100">
                        <a href="{% url 'add-order' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Start ordering PIZZAS!!!</a>
            </div>

            <div class="starter-template">
                <table class="table table-lg">
                  <thead class="thead-light">
                       <tr>
                          <th colspan="100%">Cart for {{user.username}} </th>
                        </tr>
                       <tr>
                          <td>Item</td>
                          <td>Quantity</td>
                          <td>Subtotal</td>
                        </tr>
                       <tbody>
                        {% for item in cart.items.all %}
                        <tr>
                          <td>{{item.pizza}}</td>
                          <td>{{item.quantity}}</td>
                          <td>${{item.subtotal|intcomma}} </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                </table>
      </div>

    </main>

{% endblock %}